body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #afb9d7;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: #8b99c9;
  border-radius: 20px;
  height: 266.67px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
